<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3">
    <div class="mb-3">
        <input formControlName="nombre" class="form-control" placeholder="Nombre">
        @if (form.get('nombre')?.hasError('nombreDuplicado')) {
        <small class="text-danger">Este nombre ya está en uso.</small>
        }
    </div>

    <div class="mb-3">
        <textarea formControlName="descripcion" class="form-control" maxlength="500"></textarea>
        <div class="text-end text-muted">
            {{ form.get('descripcion')?.value?.length || 0 }} / 500
        </div>
    </div>

    <div class="form-check">
        <input type="checkbox" formControlName="esPublico" class="form-check-input" id="checkPub">
        <label class="form-check-label" for="checkPub">¿Es público?</label>
    </div>
    <table class="table align-middle">
        <thead>
            <tr>
                <th>País</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Riesgo (0-1)</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody formArrayName="posiciones">
            @for (pos of posiciones.controls; track pos; let i = $index) {
            <tr [formGroupName]="i">
                <td><input formControlName="pais" class="form-control" placeholder="Ej: EE.UU."></td>
                <td>
                    <select formControlName="tipo_activo" class="form-select">
                        <option value="Acción">Acción</option>
                        <option value="Bono">Bono</option>
                        <option value="Cripto">Cripto</option>
                    </select>
                </td>
                <td><input type="number" formControlName="monto" class="form-control"></td>
                <td><input type="number" formControlName="riesgo" class="form-control" step="0.1" min="0" max="1"></td>
                <td><button type="button" (click)="posiciones.removeAt(i)" class="btn btn-outline-danger">X</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="d-flex gap-2 mt-3">
        <button type="button" (click)="agregarPosicion()" class="btn btn-secondary">+ Agregar Posición</button>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar Portafolio</button>
        <button type="button" (click)="cancelar.emit()" class="btn btn-link">Cancelar</button>
    </div>
</form>